.navbar {
  padding: 10px;
}

.navbar-links {
  display: flex; 
  list-style: none; 
  padding: 0;
  margin: 0;
  gap: 20px; 
}

.navbar-links li a {
  text-decoration: none; 
  color: inherit; 
}

.navbar-links li {
  padding: 0; 
}
